<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="http://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css"> -->
    <link rel="stylesheet" href="/Users/MGBiMACmini_0002/Desktop/Yuvraaj/POCs/fastapi_pdf_report_generation/static/CSS/nanumsquare.css">
    <link rel="stylesheet" href="/Users/MGBiMACmini_0002/Desktop/Yuvraaj/POCs/fastapi_pdf_report_generation/static/CSS/bootstrap.min.css">
    <title>Pet's Code Plus</title>
    <style>
        @page {
            size: A4; /* Set page size to A4 */
            margin:0mm; /* Adjust margin to fit content */
        }
        .container {
            font-family: 'NanumSquare', sans-serif;
            width: 210mm; /* A4 width */
            height: 297mm; /* A4 height */
            position: relative; /* For absolute positioning of elements */
            padding:0px 60px; /* Adjust padding as needed */
            box-sizing: border-box; /* Include padding in width/height */
        }
        .header {
            font-family: 'NanumSquare', sans-serif;
            color:#afafaf; /* Header color */
            font-size: 17px; /* Header font size */
            font-weight: 800; /* Header font weight */
            margin-bottom: 20px; /* Space below header */
            margin-left:0px;
            letter-spacing:0px;
            padding-top:43px;
        }
        .page-number {
            font-family: 'NanumSquare', sans-serif;
            position: absolute;
            top: 43px;
            left: 60%;
            font-size: 13px;
            color: #000; /* Page number color */
            letter-spacing:1.5px;
            font-weight: 600;
            /* margin-left:129px; */
        }
        .subheader {
            font-family: 'NanumSquare', sans-serif;
            color:#b51e23; /* Subheader color */
            font-size: 30px; /* Subheader font size */
            font-weight: 800; /* Subheader font weight */
            margin-bottom: 10px; /* Space below subheader */
            letter-spacing:-0.5px;
            margin-left:0px;
            margin-top:-30px;
        }
        .text {
            font-size: 17px; /* Text font size */
            font-weight: 300; /* Text font weight */
            line-height: 1.5; /* Line height for readability */
        }
        .footer {
            color: #b0b0b0; /* Footer color */
            font-size: 17px; /* Footer font size */
            font-weight: 800; /* Footer font weight */
            margin-top: 20px; /* Space above footer */
        }
        
    </style>
</head>
<body>
    <img src="/Users/MGBiMACmini_0002/Desktop/Yuvraaj/POCs/fastapi_pdf_report_generation/static/page2_img.png" alt="Background Image" class="background-image">
    <!-- <div class="report-container"> -->
        <div class="container">
    
            <div class="header" style="z-index:1;">
                <!-- <div class="page-number">11 page</div> -->
                <p style="margin-left:55px;letter-spacing:-0.5px;">CellBioDX Pet’s Code Plus</p>
                <div class="subheader"><span style="font-size:41px;font-family:NanumSquare;letter-spacing:-1.2px;font-weight:800;">03</span> 견종별 취약한 질환 (ㅁ ~ ㅂ)</div>
            </div>
    
    
             <!-- section 1  -->
        <div style="margin-top:0px;width:77%;">
            <div style="border-bottom:3px solid #b51e23;margin:0px;padding:0px;">
              <p style="background-color: #b51e23;width:3.8%;color: #fff;text-align: center;font-family:NanumSquare;font-weight:800;margin:0px;padding:0px;font-size:15px;">ㅁ</p>
            </div>
      
            <div>
              <!-- row 1 -->
              <div class="row" style="border-bottom:1px solid #cbcbcb;margin:0px;padding:0px;">
                <div class="col-xs-4" style="margin-bottom:-21px;">
                  <p style="color: #000;text-align:left;font-family:NanumSquare;font-weight:800;font-size:16px;padding:10px 0px;">마스티프</p>
                </div>
                <div class="col-xs-4" style="margin-top:-47px;margin-left:200px;margin-bottom:-21px;">
                  <p style="color: #000;text-align:left;font-family:NanumSquare;font-weight:500;font-size:11px;padding:10px 15px;letter-spacing:0px;">위팽만과 회전증, 이형성관절염, 박리성 골연골염, 유산구성 골염증, 안검내반증, 진행성 망막 위축증, 제3
                    안검샘 탈출증, 아토피, 확장성 심근병증, 동맥관 개원증, 갑상선 기능저하증</p>
                </div>
      
              </div>
              <!-- row 2 -->
              <div class="row" style="border-bottom:1px solid #cbcbcb;margin:0px;padding:0px;">
                <div class="col-xs-4" style="margin-bottom:-21px;">
                  <p style="color: #000;text-align:left;font-family:NanumSquare;font-weight:800;font-size:16px;padding:10px 0px;">말티즈</p>
                </div>
                <div class="col-xs-4" style="margin-top:-47px;margin-left:200px;margin-bottom:-21px;">
                  <p style="color: #000;text-align:left;font-family:NanumSquare;font-weight:500;font-size:11px;padding:10px 15px;letter-spacing:0px;">슬개골탈구, 염증성 장질환, 백내장, 녹내장, 이중모화증, 동맥관 개원증, 심장판막 질환, 갑상선 기능저하증,
                    간문맥 전신단락증, 혈관성 혈우병, 용혈성 빈혈과 혈소판 감소 증후근, 상물림(하물림), 이상교합</p>
                </div>
      
              </div>
              <!-- row 3 -->
              <div class="row" style="border-bottom:1px solid #cbcbcb;margin:0px;padding:0px;">
                <div class="col-xs-4" style="margin-bottom:-21px;">
                  <p style="color: #000;text-align:left;font-family:NanumSquare;font-weight:800;font-size:16px;padding:10px 0px;">미니어처 슈나우저</p>
                </div>
                <div class="col-xs-4" style="margin-top:-47px;margin-left:200px;margin-bottom:-21px;">
                  <p style="color: #000;text-align:left;font-family:NanumSquare;font-weight:500;font-size:11px;padding:10px 15px;letter-spacing:0px;">간질, 아토피, 동맥관 개원증, 심장판막 질환, 부신과다기능증, 당뇨병, 혈관성 혈우병
                    간문맥 전신단락증, 용혈성 빈혈과 혈소판 감소 증후근, 방광 혹은 신장결석, 사구체신염</p>
                </div>
      
              </div>
              <!-- row 4 -->
              <div class="row" style="border-bottom:1px solid #cbcbcb;margin:0px;padding:0px;">
                <div class="col-xs-4" style="margin-bottom:-21px;">
                  <p style="color: #000;text-align:left;font-family:NanumSquare;font-weight:800;font-size:16px;padding:10px 0px;">미니어처 핀셔</p>
                </div>
                <div class="col-xs-4" style="margin-top:-47px;margin-left:200px;margin-bottom:-21px;">
                  <p style="color: #000;text-align:left;font-family:NanumSquare;font-weight:500;font-size:11px;padding:10px 15px;letter-spacing:0px;">비만세포 종양, 슬개골탈구, 골관절 질환, 척추간판 질환, 백내장, 녹내장, 각막 이형성증, 청각상실, 간질,
                    심장판막 질환, 갑상선 기능저하증, 당뇨병, 간문맥 전신단락증, 용혈성 빈혈과 혈소판 감소 증후근, 방광
                    혹은 신장결석</p>
                </div>
      
              </div>
              
            </div>
          </div>
      
          <!-- section 2  -->
          <div style="margin-top:10px;width:77%;">
            <div style="border-bottom:3px solid #b51e23;margin:0px;padding:0px;">
              <p style="background-color: #b51e23;width:3.8%;color: #fff;text-align: center;font-family:NanumSquare;font-weight:800;margin:0px;padding:0px;font-size:15px;">ㅂ</p>
            </div>
      
            <div>
              <!-- row 1 -->
              <div class="row" style="border-bottom:1px solid #cbcbcb;margin:0px;padding:0px;">
                <div class="col-xs-4" style="margin-bottom:-21px;">
                  <p style="color: #000;text-align:left;font-family:NanumSquare;font-weight:800;font-size:16px;padding:10px 0px;">바센지</p>
                </div>
                <div class="col-xs-4" style="margin-top:-47px;margin-left:200px;margin-bottom:-21px;">
                  <p style="color: #000;text-align:left;font-family:NanumSquare;font-weight:500;font-size:11px;padding:10px 15px;letter-spacing:0px;">이형성관절염, 슬개골탈구, 염증성 장질환, 백내장, 진행성 망막 위축증, 제3안검샘 탈출증, 간질,
                    갑상선기능저하증, 혈관성 혈우병, 방광 혹은 신장결석, 판코니 증후군, 배꼽탈장</p>
                </div>
      
              </div>
              <!-- row 2 -->
              <div class="row" style="border-bottom:1px solid #cbcbcb;margin:0px;padding:0px;">
                <div class="col-xs-4" style="margin-bottom:-21px;">
                  <p style="color: #000;text-align:left;font-family:NanumSquare;font-weight:800;font-size:16px;padding:10px 0px;">바셋 하운드</p>
                </div>
                <div class="col-xs-4" style="margin-top:-47px;margin-left:200px;margin-bottom:-21px;">
                  <p style="color: #000;text-align:left;font-family:NanumSquare;font-weight:500;font-size:11px;padding:10px 15px;letter-spacing:0px;">혈관육종, 위팽만과 회전증, 이형성관절염, 박리성 골연골염, 슬개골탈구, 유산구성 골염증, 반척추증,
                    척추간판 질환, 백내장, 녹내장, 제3안검샘 탈출증, 경축성 척수증, 아토피, 확장성 심근병증, 부신기능저하증,
                    혈관성 혈우병, 방광 혹은 신장결석</p>
                </div>
      
              </div>
              <!-- row 3 -->
              <div class="row" style="border-bottom:1px solid #cbcbcb;margin:0px;padding:0px;">
                <div class="col-xs-4" style="margin-bottom:-21px;">
                  <p style="color: #000;text-align:left;font-family:NanumSquare;font-weight:800;font-size:16px;padding:10px 0px;">버니즈 마운틴 독</p>
                </div>
                <div class="col-xs-4" style="margin-top:-47px;margin-left:200px;margin-bottom:-21px;">
                  <p style="color: #000;text-align:left;font-family:NanumSquare;font-weight:500;font-size:11px;padding:10px 15px;letter-spacing:0px;">혈관육종, 림프종, 위팽만과 회전증, 이형성관절염, 박리성 골연골염, 관절염, 유산구성 골염증, 퇴행성
                    척수장애, 백내장, 안검내반증, 간질, 아토피, 부신기능저하증, 간문맥 전신단락증, 혈관성 혈우병, H용혈성
                    빈혈과 혈소판 감소 증후근, 사구체신염</p>
                </div>
      
              </div>
              <!-- row 4 -->
              <div class="row" style="border-bottom:1px solid #cbcbcb;margin:0px;padding:0px;">
                <div class="col-xs-4" style="margin-bottom:-21px;">
                  <p style="color: #000;text-align:left;font-family:NanumSquare;font-weight:800;font-size:16px;padding:10px 0px;">벨지안 터뷰렌</p>
                </div>
                <div class="col-xs-4" style="margin-top:-37px;margin-left:200px;margin-bottom:-21px;">
                  <p style="color: #000;text-align:left;font-family:NanumSquare;font-weight:500;font-size:11px;padding:10px 15px;letter-spacing:0px;">위팽만과 회전증, 이형성관절염, 백내장, 진행성 망막 위축증, 간질, 아토피, 갑상성기능저하증</p>
                </div>
      
              </div>
               <!-- row 5 -->
               <div class="row" style="border-bottom:1px solid #cbcbcb;margin:0px;padding:0px;">
                <div class="col-xs-4" style="margin-bottom:-21px;">
                  <p style="color: #000;text-align:left;font-family:NanumSquare;font-weight:800;font-size:16px;padding:10px 0px;">보더콜리</p>
                </div>
                <div class="col-xs-4" style="margin-top:-47px;margin-left:200px;margin-bottom:-21px;">
                  <p style="color: #000;text-align:left;font-family:NanumSquare;font-weight:500;font-size:11px;padding:10px 15px;letter-spacing:0px;">이형성관절염, 박리성 골연골염, 백내장, 진행성 망막 위축증, 간질, 신경세라이드지질포스피신증, 동맥관
                    개원증, 갑상선 기능저하증, 간문맥 전신단락증</p>
                </div>
      
              </div>
              <!-- row 6 -->
                <div class="row" style="border-bottom:1px solid #cbcbcb;margin:0px;padding:0px;">
                  <div class="col-xs-4" style="margin-bottom:-21px;">
                    <p style="color: #000;text-align:left;font-family:NanumSquare;font-weight:800;font-size:16px;padding:10px 0px;">보더 테리어</p>
                  </div>
                  <div class="col-xs-4" style="margin-top:-47px;margin-left:200px;margin-bottom:-21px;">
                    <p style="color: #000;text-align:left;font-family:NanumSquare;font-weight:500;font-size:11px;padding:10px 15px;letter-spacing:0px;">이형성관절염, 슬개골탈구, 골관절 질환, 백내장, 진행성 망막 위축증, 간질, 아토피, 심장판막 질환, 갑상선
                      기능저하증, 당뇨병, 혈관성 혈우병, 판코니 증후군, 상물림(하물림)</p>
                  </div>
        
                </div>
              <!-- row 7 -->
               <div class="row" style="border-bottom:1px solid #cbcbcb;margin:0px;padding:0px;">
                <div class="col-xs-4" style="margin-bottom:-21px;">
                  <p style="color: #000;text-align:left;font-family:NanumSquare;font-weight:800;font-size:16px;padding:10px 0px;">보르조이</p>
                </div>
                <div class="col-xs-4" style="margin-top:-47px;margin-left:200px;margin-bottom:-21px;">
                  <p style="color: #000;text-align:left;font-family:NanumSquare;font-weight:500;font-size:11px;padding:10px 15px;letter-spacing:0px;">마취 위험, 골육종, 위팽만과 회전증, 이형성관절염, 박리성 골연골염, 슬개골탈구, 유산구성 골염증, 백내장,
                    경축성 척수증, 확장성 심근병증, 갑상성기능저하증, 혈관성 혈우병</p>
                </div>
      
              </div>
              <!-- row 8 -->
                <div class="row" style="border-bottom:1px solid #cbcbcb;margin:0px;padding:0px;">
                  <div class="col-xs-4" style="margin-bottom:-21px;">
                    <p style="color: #000;text-align:left;font-family:NanumSquare;font-weight:800;font-size:16px;padding:10px 0px;">보스턴 테리어</p>
                  </div>
                  <div class="col-xs-4" style="margin-top:-47px;margin-left:200px;margin-bottom:-21px;">
                    <p style="color: #000;text-align:left;font-family:NanumSquare;font-weight:500;font-size:11px;padding:10px 15px;letter-spacing:0px;">이형성관절염, 슬개골탈구, 반척추증, 골관절 질환, 백내장, 녹내장, 건조각막결막염, 청각상실, 간질, 아토피,
                      심장판막 질환, 편두통성 증후군, 부신과다기능증</p>
                  </div>
        
                </div>
              <!-- row 9 -->
               <div class="row" style="border-bottom:1px solid #cbcbcb;margin:0px;padding:0px;">
                <div class="col-xs-4" style="margin-bottom:-21px;">
                  <p style="color: #000;text-align:left;font-family:NanumSquare;font-weight:800;font-size:16px;padding:10px 0px;">복서</p>
                </div>
                <div class="col-xs-4" style="margin-top:-47px;margin-left:200px;margin-bottom:-21px;">
                  <p style="color: #000;text-align:left;font-family:NanumSquare;font-weight:500;font-size:11px;padding:10px 15px;letter-spacing:0px;">혈관육종, 림프종, 비만세포 종양, 위팽만과 회전증, 퇴행성 척수장애, 염증성 장질환, 간질, 확장성 심근병증,
                    편두통성 증후군, 갑상선 기능저하증, 부신과다기능증, 혈관성 혈우병</p>
                </div>
      
              </div>
              <!-- row 10 -->
                <div class="row" style="border-bottom:1px solid #cbcbcb;margin:0px;padding:0px;">
                  <div class="col-xs-4" style="margin-bottom:-21px;">
                    <p style="color: #000;text-align:left;font-family:NanumSquare;font-weight:800;font-size:16px;padding:10px 0px;">불마스티프</p>
                  </div>
                  <div class="col-xs-4" style="margin-top:-47px;margin-left:200px;margin-bottom:-21px;">
                    <p style="color: #000;text-align:left;font-family:NanumSquare;font-weight:500;font-size:11px;padding:10px 15px;letter-spacing:0px;">혈관육종, 림프종, 비만세포 종양, 위팽만과 회전증, 이형성관절염, 박리성 골연골염, 유산구성 골염증,
                      백내장, 녹내장, 안검내반증, 경축성 척수증, 아토피, 확장성 심근병증, 방광 혹은 신장결석</p>
                  </div>
        
                </div>
              <!-- row 11 -->
               <div class="row" style="border-bottom:1px solid #cbcbcb;margin:0px;padding:0px;">
                <div class="col-xs-4" style="margin-bottom:-21px;">
                  <p style="color: #000;text-align:left;font-family:NanumSquare;font-weight:800;font-size:16px;padding:10px 0px;">불테리어</p>
                </div>
                <div class="col-xs-4" style="margin-top:-47px;margin-left:200px;margin-bottom:-21px;">
                  <p style="color: #000;text-align:left;font-family:NanumSquare;font-weight:500;font-size:11px;padding:10px 15px;letter-spacing:0px;">림프종, 박리성 골연골염, 슬개골탈구, 백내장, 안검내반증, 건조각막결막염, 제3안검샘 탈출증, 청각상실,
                    아토피, 심장판막 질환, 사구체신염</p>
                </div>
      
              </div>
              <!-- row 12 -->
                <div class="row" style="border-bottom:1px solid #cbcbcb;margin:0px;padding:0px;">
                  <div class="col-xs-4" style="margin-bottom:-21px;">
                    <p style="color: #000;text-align:left;font-family:NanumSquare;font-weight:800;font-size:16px;padding:10px 0px;">브리타니</p>
                  </div>
                  <div class="col-xs-4" style="margin-top:0px;margin-left:140px;margin-bottom:-21px;">
                    <p style="color: #000;text-align:left;font-family:NanumSquare;font-weight:500;font-size:11px;padding:10px 15px;letter-spacing:0px;">이형성관절염, 백내장, 간질, 갑상선기능저하증</p>
                  </div>
        
                </div>
              <!-- row 13 -->
               <div class="row" style="border-bottom:1px solid #cbcbcb;margin:0px;padding:0px;">
                <div class="col-xs-4" style="margin-bottom:-21px;">
                  <p style="color: #000;text-align:left;font-family:NanumSquare;font-weight:800;font-size:16px;padding:10px 0px;">블러드 하운드</p>
                </div>
                <div class="col-xs-4" style="margin-top:-47px;margin-left:200px;margin-bottom:-21px;">
                  <p style="color: #000;text-align:left;font-family:NanumSquare;font-weight:500;font-size:11px;padding:10px 15px;letter-spacing:0px;">림프종, 비만세포 종양, 골육종, 위팽만과 회전증, 이형성관절염, 슬개골탈구, 퇴행성 척수장애, 백내장,
                    안검내반증, 건조각막결막염, 간질, 갑상선 기능저하증, 상물림(하물림)</p>
                </div>
      
              </div>
              <!-- row 14 -->
                <div class="row" style="border-bottom:1px solid #cbcbcb;margin:0px;padding:0px;">
                  <div class="col-xs-4" style="margin-bottom:-21px;">
                    <p style="color: #000;text-align:left;font-family:NanumSquare;font-weight:800;font-size:16px;padding:10px 0px;">비글</p>
                  </div>
                  <div class="col-xs-4" style="margin-top:-47px;margin-left:200px;margin-bottom:-21px;">
                    <p style="color: #000;text-align:left;font-family:NanumSquare;font-weight:500;font-size:11px;padding:10px 15px;letter-spacing:0px;">이형성관절염, 척추간판 질환, 백내장, 녹내장, 이중모화증, 경축성 척수증, 간질, 아토피, 부신과다기능증,
                      당뇨병, 혈우병, 방광 혹은 신장결석</p>
                  </div>
        
                </div>
              <!-- row 15 -->
               <div class="row" style="border-bottom:1px solid #cbcbcb;margin:0px;padding:0px;">
                <div class="col-xs-4" style="margin-bottom:-21px;">
                  <p style="color: #000;text-align:left;font-family:NanumSquare;font-weight:800;font-size:16px;padding:10px 0px;">비숑 프리제</p>
                </div>
                <div class="col-xs-4" style="margin-top:0px;margin-left:120px;margin-bottom:-21px;">
                  <p style="color: #000;text-align:left;font-family:NanumSquare;font-weight:500;font-size:11px;padding:10px 15px;letter-spacing:0px;">이형성관절염, 백내장, 슬개골 탈구</p>
                </div>
      
              </div>
      
              <!-- row 16 -->
                <div class="row" style="border-bottom:1px solid #cbcbcb;margin:0px;padding:0px;">
                  <div class="col-xs-4" style="margin-bottom:-21px;">
                    <p style="color: #000;text-align:left;font-family:NanumSquare;font-weight:800;font-size:16px;padding:10px 0px;">비즐라</p>
                  </div>
                  <div class="col-xs-4" style="margin-top:-47px;margin-left:200px;margin-bottom:-21px;">
                    <p style="color: #000;text-align:left;font-family:NanumSquare;font-weight:500;font-size:11px;padding:10px 15px;letter-spacing:0px;">혈관육종, 림프종, 비만세포 종양, 이형성관절염, 관절염, 슬개골탈구, 백내장, 녹내장, 이중모화증,
                      안검내반증, 간질, 아토피, 혈관성 혈우병, 용혈성 빈혈과 혈소판 감소 증후근</p>
                  </div>
        
                </div>
            </div>
          </div>
          
        </div>
</body>
</html>
